/* This is me */
.about-this{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--plans-background-color);
    font-weight: 200;
    width: 100%;
}
.about-section{
    margin-top: 50px;
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
}
.this-is-me-left{
    margin-top:120px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
    margin-bottom: 30px;
}

.this-is-me-left > p:first-of-type {
    text-transform: uppercase;
}
.this-is-me-left > p:last-of-type {
    display: flex;
    font-size: 14px;
    color: var(--grey-color);
    margin-bottom: 16px;
    float: left;
}
.this-is-me-right{
    max-width: 100%;
    height: auto;
}
.this-is-me-right > img{
    max-width: 100%;
    height: auto;
}
.this-is-me p{
    display: inline-block;
    float: left;
    text-transform: uppercase;
}
.this-is-me-left h1{
    display: inline-block;
    float: left;
    font-size: 60px;
    margin: 20px 0px;
    font-weight:600;
    text-transform: uppercase;
}
/* About me */
.about-me {
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    font-weight: 200;
    margin-bottom: 50px;
}
.about-me-right {
    display: inline-block;
    height:300px;
    width: 40%;
}
.about-me-right > h2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 20px 0px;
    text-transform: uppercase;
    font-weight:600;
}
.about-img{
    width: 100%;
}
.about-me-right > p:first-of-type {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-transform: uppercase;
}
.about-me-right > p:last-of-type {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    display: flex;
    font-size: 14px;
    color: var(--grey-color);
    margin-bottom: 16px;
}

@media (max-width:992px){
    .this-is-me-right {
       width:50%;
       height: auto;
    }
    .this-is-me-left{
        width: 50%;
        height: auto;
    }
    .this-is-me-left h1{
        font-size: 45px;
    }
    .about-me-left {
        width: 50%;
        height: auto;
    }
    .about-me-right{
    width: 50%;
    height: auto;
    }
}
@media (max-width:768px){
    .this-is-me-left {
        vertical-align: middle;
        width: 100%;
        margin-top: 20px;
    }
    .this-is-me-right {
        vertical-align: middle;
        width: 65%;
        margin-left: auto;
        margin-right: auto;
    }
    .this-is-me-left h1{
        font-size: 30px;
    }
    .about-me-left {
        width: 80%;
        margin-left: auto;
        margin-right: auto;;
 }
 .about-me-right {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
}
@media (max-width:576px){
    .this-is-me-left{
        width: 100%;
        margin-top: 20px;
    }
    .this-is-me-right{
        width: 65%;
        margin-left: auto;
        margin-right: auto;
    }
    .about-me-left {
        width: 100%;
        margin: 0%; 
 }
    .about-me-right{
        width: 100%;
        margin: 10px;
    }
}
@media (max-width:320px){
    .this-is-me-left{
        width: 100%;
        margin-top: 20px;
    }
    .this-is-me-right {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }
}