.btn-hero {
    background-color: lightblue;
    height: 40px;
    width: 150px;
    text-align: center;
    padding: 12px;
    text-transform: uppercase ;
    color: white;
    font-size: 14px;
    background:linear-gradient(0.25turn, #8491FF, #63BCFC);
}

.btn:hover {
    
}


.about-me-right > .btn-hero{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 5%;
    width: 190px;
}