.feedback-area{
    background-color: var(--plans-background-color);
    width: 100%;
}
.section-gap {
  padding: 120px 0;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.d-flex {
display: flex;
}
.justify-content-center {
  justify-content: center;
}
.pb-70 {
  padding-bottom: 70px;
}
.col-lg-8 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.text-center {
  text-align: center;
}
.title > h2 {
    text-align: center;
  font-size: 36px;
  font-weight: 600;
  }
  .title > p {
    font-size: 14px;
    text-align: center;
    font-weight: 300;
    color: #777777;
  }
   
  
  #feedback_blocks {
      width: 100%;
      padding: 50 20px;
      display: flex;
    align-items: center;
    justify-content: center;
    place-items: center;
      }
  .box {
  padding: 25px 30px 12px 30px;
        width: 500px;
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        background-color: white;
        margin: 20px;
        cursor: pointer;
    }
    .pic {
      margin-right: 30px;
    }
  .user {
    margin-left: 25%;
    margin-top: 9%;
      width: 80%;
      display: flex;
  }
  p {
    font-size: 14px;
    text-align:initial;
    font-weight: 300;
    color: #777777;
    margin-bottom: 1em;
    margin-block-start: 0.5em;
    margin-block-end: 1em;
  }
  .controls { 
    width: 40px;
    bottom:130px;
    left: 1140px;
}
.controls button {
    display: block;
    width: 40px;
    height: 40px;
    background-color: white;
    border: none;
    margin-top: 2px;
    cursor: pointer;
    box-shadow: -10px 10px 30px -10px #888;
}

    .controls button:focus {
        border: none;
        outline: none;
    }

    .controls button:hover {
        background-color: var(--color-blue-end);
        color: var(--color-blue-anti);
    }

    .controls button:hover i{
        color: blue;
    }
.controls button i {
    font-size: 16px;
    color: var(--color-dark-anti);
    }
    @media screen and (max-width: 768px){
      #feedback_blocks {
        display: grid; 
        grid-template-columns: 1fr;
       
  }
}