header > .row > .col-xs-12 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 20px 0;
}
header > nav {
    display: inline-block;
}
header > .active {
    border: none;
    color: #8193ff;
}
.nav-btn {
    display: none;
}
nav > a {
    display: inline-block;
    color: #2b2d2f;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bolder;
}
nav > .active {
    color: var(--main-color);
}
nav > a:hover {
    color: var(--main-color);
    transition: ease 0.3s;
}
nav > a + a {
    margin-left: 25px;
}
nav > .dropdown {
    display: inline-block;
    position: relative;
    margin-right: 15px;
}
nav > .dropdown::after {
    content: '\02C5';
    position: absolute;
    right: -15px;
    down: -5px;
    font-weight: normal;
}
@media (max-width: 992px){
    nav {
        display: none;
    }
    .nav-btn { 
        display: inline-block;
        cursor: pointer;
        margin-right: 20px;
    }
    .menu-button {
        width: 24px;
        height: 2px;
        background-color: #2b2d2f;
        margin: 5px 0;
    }
}