/* Featured projects gallery */

ul {
    list-style: none;
    text-align: center;
    flex-direction: row;
    gap: 20px;
    line-height: 20px;
    margin-bottom: 20px;
}

ul  li {
    display: inline-block;
    padding: 18px 15px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
}
ul li.active {
    color: #8490ff;
}

.projects-content {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.projects-design {
    display: inline-block;
}

.design-img {
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    display: block;
}

.design-name {
    text-align: center;
    margin-block-start: 1.33em;
}

.design-type {
    text-align: center;
    margin-block-end: 1.33em;
    font-size: 16px;
    font-weight: 300;
}

.projects-h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 2.1rem;
    line-height: 2.9rem;
    font-weight: 600;
}

.projects-p {
    text-align: center;
    margin-bottom: 35px;
    color: #777777;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.625em;
}




