/* FONTS */
@font-face {
    font-family: 'Poppins';
    src: url(../../fonts/poppins/Poppins-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url(../../fonts/poppins/Poppins-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url(../../fonts/poppins/Poppins-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url(../../fonts/poppins/Poppins-Light.ttf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url(../../fonts/poppins/Poppins-Italic.ttf);
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url(../../fonts/poppins/Poppins-Thin.ttf);
    font-weight: thin;
    font-style: normal;
}

    
/* VARIABLES */
:root {
    --main-color: #8193ff; 
    --main-color-light: #64bafc;
    --footer-color: #04091e;
    --grey-color: #777;
    
    /* plans colours: */
    --plans-background-color: #f9f9ff;
    --plans-numbers-outside-color: #e2e5ff;
    --plans-numbers-inside-color: #eceeff;
    --plans-numbers-hover-outside-color: #9ebdfd;
    --plans-numbers-hover-inside-color: #81affd;
    /* plans hover background color are --main-color and --main-color-light */
}
