/* FONTS */
@font-face {
    font-famly: ;
    src: url(../../fonts/????);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-famly: ;
    src: url(../../fonts/????);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-famly: ;
    src: url(../../fonts/????);
    font-weight: normal;
    font-style: italic;
}
    
/* VARIABLES */
:root {
    --main-color: #8193ff; 
    --main-color-light: #64bafc;
    --footer-color: #04091e;
    
    /* plans colours: */
    --plans-background-color: #f9f9ff;
    --plans-numbers-outside-color: #e2e5ff;
    --plans-numbers-inside-color: #eceeff;
    --plans-numbers-hover-outside-color: #9ebdfd;
    --plans-numbers-hover-inside-color: #81affd;
    /* plans hover background color are --main-color and --main-color-light */
}
